body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
  margin-bottom: 5px;
  margin-top: 5px;
}

.main_selection {
  display: flex;
  flex-direction: row-reverse;
  width: 1100px;
  background-color: white;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main_contetnc_section {
  padding: 25px 25px 25px 25px;
}

.me_selection {
}

.front_end {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}

.name {
  font-weigth: 700;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}

.for_me {
  font-weigth: 400;
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  width: 400px;
}
.project {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}
.my_project_list {
  padding: 0 0 0 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.my_project_itom {
  color: #000000;
}

.my_project_text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.my_link {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.bold {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.title_black {
  font-size: 24px;
  font-weigth: 400;
  line-height: 26px;
  margin-bottom: 10px;
  }

.experience-duties {
  padding: 15px;
}

.experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.experience {
  color: #595959;
}

.orange {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ff7b00;
}

.stydy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 10px;
}

.data {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.languages {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.others {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 10px;
}

.recomendation {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;

  margin-bottom: 10px;
}
/* aside */
.aside {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0px;
}

.img {
  width: 370px;
}

/* Contacts */

.title {
  font-size: 24px;
  font-weigth: 400;
  color: #ffff;
  line-height: 26px;
  margin-bottom: 5px;
}
.title2 {
  font-size: 14px;
  font-weigth: 400;
  color: #ffff;
  line-height: 26px;
  margin-bottom: 10px;
}

.contacts_section_type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}

.contacts_section_linc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #afbbca;
}

/* Tech Skills */

.Tech-Skills-list {
}

.contacts {
  margin: 0px 0 0 40px;
}
.skills {
  margin: 40px 0 0 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.soft {
  margin: 40px 0 0 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.tech_skill_item {
  color: #fb6d3a;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
