/*body{*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/
/*header{*/
/*    display: flex;*/
/*    justify-content: center;*/

/*}*/



/*h2{*/
/*    background-color: darkred;*/
/*}*/

/*h3{*/
/*    background-color: orange;*/
/*}*/

/*.clients{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*    padding: 15px;*/
/*}*/

/*.footer{*/
/*    background-color: #454545;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*}*/

/*.contact{*/
/*    color: white;*/
/*}*/

.link{
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    color: #ffffff;
}